@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap');

:root {
    --darkBlue: #111A26;
    --darkGreen: #36D97D;
    --mediumGreen: #71D99E;
    --lightGreen: #B6F2D0;
    --ofWhite: #F2F3F7;
    --myRed: #FA3E3E;
    --white: #fff;
    --dimWhite: #5d6064;
    --jsYellow: #FFFF00;
    --lgtGray: #d3d3d3cf;
    --blurBlue: #0e1f36;
    --newGray: #aab1bd
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

/* width */
.my-custom-scroll::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.my-custom-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.my-custom-scroll::-webkit-scrollbar-thumb {
    background: #111A26;
    border-radius: 10px;
}

/* Handle on hover */
.my-custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #111A26;
}

/* main wrapper */
#main-wrapper {
    background-color: var(--darkBlue);
    position: relative;
    height: 100vh;
    overflow-x: hidden;
}

/* navigation-container */
.navigation-container {
    max-width: 1920px;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 75px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1.5px solid var(--dimWhite);
}

.navigation-container .nav-logo {
    width: 160px;
    margin-right: 25px;
}

.navigation-container .nav-logo img {
    width: 100%;
    height: 100%;
}

.navigation-container .navigation-bar {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navigation-container .nav-items {
    position: relative;
    display: none;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
}

.navigation-container .nav-items a {
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    height: 100%;
}

.navigation-container .nav-items span {
    position: absolute;
    left: -20px;
    height: 20px;
    width: 1px;
    background-color: var(--ofWhite);
}

.navigation-container .nav-items a p {
    color: var(--ofWhite);
    font-family: 'Inter';
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.navigation-container .nav-items a:hover p {
    color: var(--mediumGreen);
}

.navigation-container .nav-toggler-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.navigation-container .nav-toggler-icon svg {
    fill: var(--ofWhite);
    width: 18px;
}

.navigation-container .nav-rgt-side {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation-container .nav-rgt-side .nav-search-container {
    display: none;
    position: relative;
    background-color: var(--white);
    border-radius: 8px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
}

.navigation-container .nav-rgt-side .nav-search-container svg {
    fill: var(--dimWhite);
    width: 20px;
    margin-right: 5px;
}

.navigation-container .nav-rgt-side .nav-search-container input {
    background-color: transparent;
    border: 0;
    outline: none;
    font-family: 'Inter';
}

.navigation-container .nav-notifications-container {
    position: relative;
    padding-left: 7px;
    padding-right: 7px;
    margin-left: 20px;
    margin-right: 20px;
    border-left: 1px solid var(--dimWhite);
    border-right: 1px solid var(--dimWhite);
}

.navigation-container .nav-notifications-container svg {
    fill: var(--dimWhite);
    width: 20px;
    cursor: pointer;
}

.navigation-container .nav-notifications-container span {
    position: absolute;
    top: 0;
    right: 9px;
    background-color: var(--myRed);
    width: 7px;
    height: 7px;
    border-radius: 100px;
}

.navigation-container .nav-notifications-container ul.nav-drop-container {
    position: absolute;
    width: 230px;
    height: 315px;
    background-color: var(--white);
    border-radius: 5px;
    top: 40px;
    right: 0;
    z-index: 10;
    overflow-y: auto;
    padding-left: 0;
    padding-right: 0;
}

.navigation-container .nav-notifications-container ul.nav-drop-container li:hover {
    background-color: var(--ofWhite);
}

.navigation-container .nav-notifications-container ul.nav-drop-container li {
    padding: 10px;
    cursor: pointer;
}

.navigation-container .nav-notifications-container ul.nav-drop-container li a p {
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 500;
    margin: 0 !important;
    color: var(--darkBlue);
}

.navigation-container .nav-settings {
    display: none;
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid var(--dimWhite);
}

.navigation-container .nav-settings svg {
    fill: var(--dimWhite);
    cursor: pointer;
    width: 20px;
}

.navigation-container .nav-prof {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.navigation-container .nav-prof .profile-img {
    width: 35px;
    height: 35px;
    position: relative;
}

.navigation-container .nav-prof .profile-img img {
    border-radius: 100px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.navigation-container .nav-prof .profile-img span {
    position: absolute;
    border-radius: 100px;
    background-color: var(--darkGreen);
    width: 10px;
    height: 10px;
    bottom: 0;
    right: 0;
}

.navigation-container .nav-prof .my-p {
    display: none;
    color: var(--white);
    font-family: 'Inter';
    margin-left: 10px;
    margin-right: 5px;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.navigation-container .nav-prof .my-p-d {
    position: relative;
    margin-top: 5px;
}

.navigation-container .nav-prof .my-p-d svg {
    fill: var(--white);
    width: 25px;
}

.navigation-container .nav-prof .profile-pro {
    position: absolute;
    width: 190px;
    background-color: var(--white);
    border-radius: 5px;
    top: 50px;
    right: 0;
    z-index: 10;
    overflow-y: auto;
}

.navigation-container .nav-prof .profile-pro a:hover {
    background-color: var(--ofWhite);
}

.navigation-container .nav-prof .profile-pro a {
    display: flex;
    flex-direction: row;
    padding: 10px;
    cursor: pointer;
}

.navigation-container .nav-prof .profile-pro a svg {
    fill: var(--darkBlue);
    width: 20px;
    margin-right: 6px;
}

.navigation-container .nav-prof .profile-pro a p {
    font-family: 'Inter';
    color: var(--darkBlue);
    font-size: 15px;
    font-weight: 500;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.navigation-container .navigation-bar .nav-bgh {
    display: none;
    background-color: var(--dimWhite);
    position: absolute;
    left: 0;
    height: 1.5px;
    width: 100vw;
    bottom: 0;
}

.navigation-container .side-menu-bar {
    position: absolute;
    height: 100%;
    background-color: var(--darkBlue);
    display: block;
}

.navigation-container .side-menu-bar .side-menu-lgo {
    width: 160px;
    margin-right: 25px;
    margin-bottom: 27px;
}

.navigation-container .side-menu-bar .side-menu-lgo img {
    width: 100%;
    height: 100%;
}

.navigation-container .side-menu-bar .my-close-btn {
    position: fixed;
    background-color: var(--ofWhite);
    padding: 10px;
    border-radius: 8px;
    right: 20px;
    top: 20px;
    z-index: 20;
}

.navigation-container .side-menu-bar .my-close-btn svg {
    fill: var(--dimWhite);
    width: 20px;
}

.navigation-container .side-menu-bar .mob-side {
    display: flex;
    position: relative;
    background-color: var(--white);
    border-radius: 8px;
    padding: 7px 10px;
    margin-bottom: 20px;
}

.navigation-container .side-menu-bar .mob-side svg {
    fill: var(--dimWhite);
    width: 20px;
    margin-right: 5px;
}

.navigation-container .side-menu-bar .mob-side input {
    background-color: transparent;
    border: 0;
    outline: none;
    font-family: 'Inter';
}

.navigation-container .side-menu-bar .mob-nav-item {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
}

.navigation-container .side-menu-bar .mob-nav-item a {
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    display: flex;
    align-items: center;
}

.navigation-container .side-menu-bar .mob-nav-item a p:hover {
    color: var(--mediumGreen);
}

.navigation-container .side-menu-bar .mob-nav-item a p {
    color: var(--ofWhite);
    font-family: 'Inter';
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.profile-section-wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile-section-wrapper .profile-section-dav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;
}

.profile-section-wrapper .profile-section-dav img {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.profile-section-wrapper .profile-section-dav .profile-section-dim {
    margin-left: 15px;
}

.profile-section-wrapper .profile-section-dav .profile-section-dim .profile-section-dimO {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-section-wrapper .profile-section-dav .profile-section-dim .profile-section-dimO p {
    color: var(--white);
    font-size: 18px;
    font-family: 'Inter';
    font-weight: 600;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.profile-section-wrapper .profile-section-dav .profile-section-dim .profile-section-dimO svg {
    fill: var(--jsYellow);
    width: 15px;
    margin-left: 10px;
    margin-top: -4px;
}

.profile-section-wrapper .profile-section-dav .fftp {
    color: var(--lgtGray);
    font-family: 'Inter';
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 0;
}

.slector-wraper {
    display: flex;
    flex-direction: column;
}

.slector-wraper .drop-down-cds {
    position: relative;
}

.slector-wraper .drop-down-cds .class-selected-d {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blurBlue);
    padding-top: 7px;
    padding: 7px 10px;
    min-width: 180px;
    border: 1px solid var(--dimWhite);
    border-radius: 8px;
}

.celaendafd {
    fill: var(--white);
    width: 17px;
}

.slector-wraper .drop-down-cds .classesSelector-c {
    color: var(--white);
    font-size: 13px;
    font-family: 'Inter';
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
}

.slector-wraper .drop-down-cds .class-selected-d svg {
    fill: var(--white);
    width: 25px;
}

.slector-wraper ul.my-new-classe-d {
    position: absolute;
    background-color: var(--white);
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    top: 45px;
    right: 0;
    width: 100%;
    z-index: 10;
    margin-top: 0;
    padding-left: 0;
}

.drop-down-cds .my-saclas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blurBlue);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    min-width: 180px;
    border: 1px solid var(--dimWhite);
    border-radius: 8px;
}

.fltr-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--mediumGreen);
    padding: 7px 10px;
    margin-left: auto;
}

.fltr-btn svg {
    fill: var(--white);
    width: 25px;
    margin-left: 5px;
}

.fltr-btn p {
    font-family: 'Inter';
    color: var(--white);
    font-size: 13px;
    font-weight: 500;
}

.slector-wraper ul.my-new-classe-d.my-new-classe-dspd {
    top: 65px;
}

.slector-wraper ul.my-new-classe-d li:hover {
    background-color: var(--ofWhite);
}

.slector-wraper ul.my-new-classe-d li {
    font-family: 'Inter';
    font-size: 15px;
    cursor: pointer;
    color: var(--darkBlue);
    padding: 0 10px;
    height: 30px;
    display: flex;
    align-items: center;
}

.my-bg-wht {
    position: relative;
}

.my-bg-wht .overall-vards {
    max-width: 1440px;
    margin: auto;
    padding: 0 10px;
    margin-top: 30px;
}

.my-bg-wht .overall-vards .overall-p {
    color: var(--ofWhite);
    font-family: 'Inter';
    font-size: 18px;
    text-align: right;
}

.my-bg-wht .overall-vards .overall-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.overall-vards .overall-card-container .over-card {
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

.overall-card-container .over-card .main-over-view {
    cursor: pointer;
    position: relative;
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 145px;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    padding-bottom: 0;
    width: auto;
}

.more-csd {
    fill: var(--lgtGray);
    position: absolute;
    right: 13px;
    top: 8px;
    width: 35px;
}

.overall-card-container .card-icon svg {
    cursor: pointer;
    fill: var(--dimWhite);
    position: absolute;
    right: 13px;
    top: 4px;
    width: 35px;
}

.my-custom-scroll {
    padding: 10px;
}

.close-noft-man {
    color: var(--darkBlue);
    cursor: pointer;
    width: 100%;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Inter';
}

.overall-card-container .card-icon svg:hover {
    fill: var(--darkBlue);
}

.over-card .my-cd-p {
    background-color: var(--ofWhite);
    padding: 15px;
    border-radius: 8px;
    margin-right: 20px;
}

.car-ic {
    fill: var(--mediumGreen);
    width: 35px;
    height: 35px;
}

.cdpssd {
    color: var(--darkBlue);
    font-size: 28px;
    font-family: 'Inter';
    font-weight: 800;
}

.mscdpd {
    color: var(--newGray);
    font-size: 14px;
    font-family: 'Inter';
    margin-top: -3px;
    font-weight: 500;
    text-transform: uppercase;
}
.select-drop-d {
    cursor: pointer;
}

/* charts-container */
.charts-container {
    max-width: 1440px;
    margin: auto;
    margin-top: 50px;
}

.charts-container .chart-cctn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.parent-container {
    height: auto;
    position: relative;
    border-radius: 8px;
    padding: 25px 15px;
    background-color: var(--white);
}

.yvso-sdiow-av {
    height: 90%;
}

.my-card-heading {
    color: var(--darkBlue);
    font-family: 'Inter';
    font-weight: 600;
}

.line-bar-chart {
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.bar-chart-container {
    margin-top: 20px;
}

.ne-chart-pc {
    max-width: 1440px;
    margin: auto;
    margin-top: 5px;
    padding-bottom: 50px;
}

.ne-chart-pc .my-pd-ccp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.narrow-cards-chart {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}

.msf-sa-s {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.msf-sa-dfl {
    width: 48%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.viwu-qiufa-asd {
    margin-left: 10px;
}

#glassContainer {
    position: relative;
}

.boy-chart-img {
    width: 65px;
    height: 170px;
}

.boy-chart-img-abs {
    position: absolute;
    bottom: 4px;
    width: 65px;
    height: 170px;
    right: 0;
}

.gender-chart-text {
    max-width: 85px;
    margin-left: 10px;
}

.gender-chart-tb {
    font-size: 28px;
    font-weight: 600;
    font-family: 'Inter';
}

.gender-chart-girls {
    color: #FF7F00;
}

.gender-chart-bus {
    color: #7FBCF9;
}

.gnd-bd-text {
    font-family: 'Inter';
    font-size: 12px;
    color: var(--darkBlue);
    font-weight: 400;
    line-height: 17px;
}

.gurl-cht-img {
    width: 65px;
    height: 170px;
    position: relative;
    z-index: 2;
}

.gurl-cht-gak {
    position: absolute;
    bottom: 2px;
    width: 65px;
    height: 170px;
    right: 0;
}

.nw-absences-item {
    position: relative;
    margin-top: 35px;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    width: 93%;
    border-top: .5px solid var(--ofWhite);
}

.nw-absences-item-net {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nw-absences-item-hsp {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
}

.ngt-spacn {
    width: 25px;
    height: 12px;
    border-radius: 100px;
    margin-right: 10px;
}

.ngt-spacn-jd {
    background-color: #7FBCF9;
}

.ngt-spacn-vjsd {
    background-color: #FF7F00;
}

.nvw-xjvi-df p {
    color: var(--dimWhite);
    font-weight: 500;
    font-size: 15px;
    font-family: 'Inter';
}

.nvw-xjvi-df p span {
    color: var(--darkBlue);
    font-weight: 700;
}

.vka-dsa-afd {
    margin-top: 15px;
}

.kjh-gjg-vwq {
    height: 55px;
    border-bottom: 1px solid #d3d3d32b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.kjh-gjg-vwq:nth-child(6) {
    border-bottom: 0;
}

.vyq-prt-bvc {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tyeu-weiv-qwi {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.tyeu-weiv-qwi img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
}

.qax-zfowl-usccx {
    color: var(--darkBlue);
    font-family: 'Inter';
    font-size: 15px;
    font-weight: 600;
}

.qax-zfowl-usccx span {
    border-radius: 100px;
    padding: 4px 12px;
    font-size: 12px;
    background-color: var(--ofWhite);
}

.pioou-moy-ykt {
    font-size: 15px;
    font-family: 'Inter';
    color: var(--darkBlue);
    font-weight: 500;
}

.pioou-moy-ykt span {
    color: var(--dimWhite);
    font-weight: 400;
}
.lkavya-fak {
    margin-top: 3rem;
}



.profile-pro,
.for-toggle-notification {
    opacity: 0;
    transition: all .2s ease-in-out;
    visibility: hidden;
}

.isactive-notific {
    opacity: 1;
    transition: all .2s ease-in-out;
    visibility: visible;
}

.nagvi-active.active p {
    color: #71D99E
}

.nagvi-active.active::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background-color: #71D99E;
    bottom: -26px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.side-menu-bar .active::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background-color: #71D99E;
    bottom: -2px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.side-menu-bar.open-side-menu-bar::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: #0000003b;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -92;
}

.my-close-btn {
    opacity: 0;
    transition: all .3s ease-in-out;
    visibility: hidden;
}

.show-my-close-btn {
    opacity: 1;
    transition: all .3s ease-in-out;
    visibility: visible;
}

.my-drop-d {
    opacity: 0;
    transition: all .3s ease-in-out;
    visibility: hidden;
    position: absolute;
    top: 34px;
    right: 20px;
    box-shadow: 0px 0px 18px -11px black;
    width: 87px;
    height: 18px;
    /* overflow: scroll; */
    border-radius: 8px;
}

.main-over-view.main-over-view-show .show-my-drop-d {
    opacity: 1 !important;
    transition: all .3s ease-in-out !important;
    visibility: visible !important;
    background-color: #111a26;
}

.show-my-drop-d {
    opacity: 1 !important;
    transition: all .3s ease-in-out !important;
    visibility: visible !important;
}


/*  */
.my-new-class,
.my-new-classes {
    opacity: 0;
    transition: all .3s ease-in-out;
    visibility: hidden;
    box-shadow: 0px 0px 24px -14px black;
}

.open-my-new-classes {
    opacity: 1;
    transition: all .3s ease-in-out;
    visibility: visible;
}

/* sidebar */
.side-menu-bar {
    position: absolute;
    left: -315px;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: 9;
    padding: 35px 20px;
    transition: all .4s ease-in-out;
}

.open-side-menu-bar {
    left: 0px;
}

canvas {
    height: 165px !important;
}

#mydonutChart {
    height: 300px !important;
}

.main-over-view.main-over-view-show {
    background-color: #71D99E !important;
}

.main-over-view.main-over-view-show .open-dropd-card svg {
    fill: #fff !important;
}

.main-over-view.main-over-view-show div p {
    color: #fff;
}

/* #topImage {
    clip-path: polygon(0 0, 100% 0, 100% 42%, 1% 42%);
} */

.my-bg-wht::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 96%;
    background-color: #F2F3F7;
    width: 100vw;
}

.nav-rgt-side {
    margin-right: 10px;
}

@media only screen and (min-width: 425px) {
    canvas {
        height: 340px !important;
    }
}

@media only screen and (min-width: 540px) {
    .overall-vards .overall-card-container .over-card {
        width: 49%;
    }
    .nav-rgt-side {
        margin-right: 0;
    }
}

@media only screen and (min-width: 768px) {
    .navigation-container {
        border: 0px;
    }

    .navigation-container .nav-toggler-icon svg {
        width: 30px;
    }

    .navigation-container .nav-notifications-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .navigation-container .nav-notifications-container span {
        right: 21px;
    }

    .navigation-container .nav-settings {
        display: block;
    }

    .navigation-container .nav-prof .my-p {
        display: block;
    }

    .navigation-container .navigation-bar .nav-bgh {
        display: block;
    }

    .profile-section-wrapper {
        margin-top: 80px;
    }

    .profile-section-wrapper .profile-section-dav img {
        width: 65px;
        height: 65px;
    }

    .profile-section-wrapper .profile-section-dav .profile-section-dim .profile-section-dimO p {
        font-size: 22px;
    }

    .profile-section-wrapper .profile-section-dav .profile-section-dim .profile-section-dimO svg {
        width: 20px;
        margin-top: -10px;

    }

    .profile-section-wrapper .profile-section-dav .fftp {
        font-size: 15px;
    }

    .slector-wraper {
        flex-direction: row;
    }

    .slector-wraper ul.my-new-classe-d.my-new-classe-dspd {
        top: 45px;
        right: -12px;
    }

    .drop-down-cds .my-saclas {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 10px;
    }

    .fltr-btn {
        max-width: 90px;
        margin-left: 15px;
    }

    .my-bg-wht .overall-vards {
        margin-top: 10px;
    }

    .charts-container .chart-cctn {
        flex-direction: row;
        margin-left: 0;
        margin-right: 0;
    }

    .charts-container .line-chart-container {
        width: 49%;
    }

    .my-card-heading {
        font-size: 17px;
    }

    .bar-chart-container {
        width: 49%;
        margin-top: 0;
    }

    .narrow-cards-chart {
        width: 47%;
    }

    .msf-sa-s {
        margin-top: 60px;
    }

    .gender-chart-tb {
        font-size: 35px;
    }

    .gnd-bd-text {
        font-size: 14px;
    }

    .nw-absences-item {
        position: absolute;
        margin-top: 0;
    }

    .absences-item {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 15px;
    }
    .charts-container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .parent-container {
        height: 90%;
    }
    .ne-chart-pc {
        margin-top: 30px;
    }
}

@media only screen and (min-width: 1024px) {
    canvas {
        height: 400px !important;
    }

    .barCanva {
        height: 400px !important;
        /* Set the desired height */
        /* Set the desired width */
    }

    #mydonutChart {
        width: 300px !important;
        height: 300px !important;
        margin: auto;
    }

    .my-bg-wht::before {
        height: 92%;
    }

    .navigation-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .profile-section-wrapper {
        flex-direction: row;
        align-items: center;
    }

    .charts-container .line-chart-container {
        width: 59%;
    }

    .my-card-heading {
        font-size: 20px;
    }

    .bar-chart-container {
        width: 39%;
    }

    .narrow-cards-chart {
        width: 48%;
    }

    .gender-chart-text {
        max-width: 120px;
    }
    .parent-container { 
        padding: 25px;
    }
    .msf-sa-dfl {
        width: 50%;
    }
    .viwu-qiufa-asd {
        margin-left: 0;
    }
    .boy-chart-img {
        width: 75px;
    }
    
    .boy-chart-img-abs {
        width: 75px;
    }
}

@media only screen and (min-width: 1440px) {
    .nav-logo {
        margin-right: 50px;
    }

    .nav-items {
        display: flex !important;
    }

    .navigation-container .nav-toggler-icon {
        display: none;
    }

    .navigation-container .nav-rgt-side .nav-search-container {
        display: flex;
    }

    .navigation-container .side-menu-bar {
        display: none;
    }

    .profile-section-wrapper .profile-section-dav {
        margin-bottom: 0;
    }

    .overall-vards .overall-card-container .over-card {
        margin-top: 0;
        width: 24%;
    }

    .charts-container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .my-pd-cont {
        padding-left: 15px;
        padding-right: 15px;
    }

    .charts-container .line-chart-container {
        width: 66%;
    }

    .bar-chart-container {
        width: 32.5%;
    }

    .ne-chart-pc .my-pd-ccp {
        flex-wrap: nowrap;
        margin-left: -10px;
        margin-right: -10px;
    }

    .narrow-cards-chart {
        margin-top: 0;
        width: 33%;
    }
    .parent-container {
        height: 88%;
    } 
}